@keyframes a{
  0%{
    transform:translateX(20vw);
    opacity:0%
  }
  100%{
    transform:translateX(0vw);
    opacity:100%
  }
}
h1{
  text-align:center;
  font-size:10vw;
  margin:0px;
}
a{
  font-size:30px;
  text-decoration:none;
  color:#000;
  animation-name:a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width:max-content;
  display:block;
}
blockquote{
  font-size:25px;
}
a::hover{
  font-size:40px;
  text-decoration:underline;
  color:#00f;
  width:max-content;
  display:block;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.flex-kid{
  flex:1;
}
td,th{
  border: 1px solid #000;
  width: 20px;
}
